@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    height: 10vh;
    width: 100%;
    background-color: #111111;
    font-family: 'Montserrat', sans-serif;;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container-logo {
    background-image: url("../IMG/Logos\ e\ divider.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90% 60%;
    height: 80%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-navbar {
    height: 100%;
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.container-navbar > li {
    list-style: none;
}

.container-navbar > li > a {
    color: #fff;
    text-decoration: none;
    font-size: 0.85rem;
}

.container-navbar li a:hover{
    padding-bottom: 7px;
    border-bottom: 2px solid #FF1654;
}

.container2 {
    height: 100%;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.container-vazio {
    height: 100%;
    width: 60%;
}

.container-botões {
    background-image: url("../IMG/BTNS.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 65%;
    height: 83%;
    width: 43%;
}

.container-sair {
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.container-sair-texto {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-sair-texto > a {
    text-decoration: none;
    color: #fff;
    font-size: 0.85rem;
}

.container-sair-img {
    background-image: url("../IMG/Vector.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 50%;
    height: 50%;
    width: 20%;
}


.main {
    height: 90vh;
    width: 100%;
    background-image: url('../IMG/Group\ 6.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #111B27;
    font-family: 'Montserrat', sans-serif;;
}

.main-texto {
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-texto-paragrafo {
    height: 1%;
    width: 60%;
    display: flex;
    align-items: center;
}

.main-texto-paragrafo > p {
    font-size: 0.75rem;
    color: #fff;
}

.main-texto-img {
    background-image: url("../IMG/F000000ff\ \(1\).png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 55%;
    height: 18%;
    width: 60%;
}

.main-texto-bttn {
    width: 60%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: initial;
}

.main-texto-bttn-botão {
        text-decoration: none;
        background-color: #FF4655;
        color: #ffff;
        height: 5vh;
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
}

.main-texto-bttn-botão > a {
    font-size: 0.75rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}